/* ---------------------------------- */
/* Accent pink: #cc9393               */
/* Accent gold: #efdcbc               */
/* ---------------------------------- */


/* ---------------------------------- */
/* The hackey way to customize        */
/* ---------------------------------- */

.no-border {
  border: none !important;
  background: none !important;
  box-shadow: none !important;
}

.block {
  display: inline-block;
  width: 410px;
  height: 1.5em;
  margin: 5px !important;
  padding: 5px !important;
  border: 3px solid #e88383 !important;
  border-radius: 3px !important;
  background: #5A5859 !important;
  font-family: monospace !important;
}

.presentation-code {
  box-shadow: none !important;
  tab-size: 2 !important;
}

.presentation-code code {
  max-height: 650px !important;
}

.presentation-code pre {
  width: 95% !important;
}

.hack-col-left {
  position: absolute !important;
  left: -20% !important;
  width: 700px !important;
}

.hack-col-right {
  position: absolute !important;
  left: 55% !important;
  width: 630px !important;
}

/* ---------------------------------- */
/* The right way to customize         */
/* ---------------------------------- */

.side-by-side .container,
.side-by-side-rescue .container {
  margin: 0 auto;
  display: flex;
}

.side-by-side .left-side,
.side-by-side .right-side {
  width: 50%;
}

.side-by-side-rescue .left-side {
  flex-shrink: 1.4;
}

.side-by-side-rescue .right-side {
  flex-shrink: 1;
}

.side-by-side .bordered {
  padding: 10px;
  border: 1px solid white;
  border-radius: 5px;
}

.side-by-side .col {
  width: 33%;
}

.enough-foo .content {
  margin-top: -175px;
}

.enough-foo .content-single {
  margin-top: -125px;
}

.enough-foo h2 {
  font-size: 1.8em;
}

.enough-foo h3 {
  font-size: 1.5em;
}

.page-object blockquote {
  width: 80%;
  text-align: left;
}

.subsection-start h2 {
  color: #e88383;
  font-size: 2.2em;
}

.subsection-start h2.extra-large {
  font-size: 4em;
}

.compete img {
  border: none !important;
  background-color: rgba(0,0,0,0) !important;
  box-shadow: none !important;
  height: 75px;
}

.compete .goliath img {
  height: 125px;
}
